.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 150vh;
  background-size: cover;
  padding: 20px;
}
.home-heading {
  color: white;
  font-size: 48px;
  max-width: 500px;
  padding-left: 10px;
}
.home-para {
  color: white;
  font-size: 32px;
  max-width: 600px;
  padding-left: 10px;
}
.find-jobs-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #0967d2;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
}
